header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;  
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(86, 86, 236);
}

header svg {
  display: flex;
  justify-items: flex-start;
  height: 5vh;
}
.buttons {
  display: flex;
  flex-direction: row;
}
